.dashboard-list{
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 0px;
    width: 10%;
    margin-left: 5px;
}
.dashboard-list::after{
    position: absolute;
    content: "";
    display: block;
    border: 1px rgb(255, 255, 255) solid;
    top: 0px;
    right: -8px;
    height: 100%;
}
.dashboard-menus{
    display: flex;
    gap: 5px;
    padding: 5px;
}
.dashboard-wrapper{
    position: relative;
    background-color: #2D0B00;
    border-radius: 5px;
    padding: 5px;
    color: #2D0B00;
}
.menu-button{
    padding: 15px;
    background-color: #FFF0EB;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
    width: 10%;
    transition: all.3s ease-in-out;
}
.menu-button:hover{
    cursor: pointer;
}
.menu-button:focus{
    background-color: #2D0B00;
    color: #FFF0EB;
}
.dashboard-container{
    height: 100%;
    margin: 5%;
    background-color: #FFF0EB;
}
.dashboard-operations{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.operation{
    width: 100%;
}
.dashboard-task{
    display: flex;
}
.dashboard-item-list{
    display: flex;
    text-align: center;
    margin-top: 16px;
    margin-left: 15px;
    color: #2D0B00;
}
.dashboard-item-header{
    display: flex;
    background-color: #FFF0EB;
    padding: 10px;
    border-radius: 5px;

}
.dashboard-item{
    display: flex;
    border:  solid 1px white;
    margin-top: 10px;
    padding: 10px;
    background-color: #FFF0EB;
    border-radius: 5px;

}
.dashboard-column{
    flex: 1;

}
.dashboard-item th{
    flex: 1;
}
.item-wrapper{
    max-height: 300px;
    flex: 1;
    overflow-y: auto;
    border-radius: 5px;
}
tbody{
    flex: 1;
}
.item-wrapper::-webkit-scrollbar{
    width: 15px;

}
.item-wrapper::-webkit-scrollbar-track{
    border-radius: 10px;
}
.item-wrapper::-webkit-scrollbar-thumb{
    background-color: rgb(206, 210, 207);
    border-radius: 10px;
}
.item-wrapper::-webkit-scrollbar-track{
    background-color: white;
}
body{
    overflow:auto;
}
.dashboard-item:hover{
    cursor: pointer;
}
.clicked{
    background-color: rgb(160, 160, 160);
}
.dashboard-edit{
    right: 300px;
    height: fit-content;
    padding: 10px;
    z-index: 1;
    position: absolute;
    background-color: #2D0B00;
    border-radius: 5px;
}
.dashboard-input{
    position: relative;
    width: 99%;
    height: 20px;
    border: none;
    min-width: 700px;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 5px;
    background-color: #FFF0EB;
}
.input-label{
    position: absolute;
    pointer-events: none;
    top:7px;
    left: 6px;
    z-index: 3;
    transition: 0.2s ease all;
}
.dashboard-input:focus +.input-label{
    top: -2px;
    left: 3px;
    transform: scale(.6);
    opacity: 1;
}
.input-container{
    position: relative;
    width: 100%;
}
.dashboard-quit{

    display: flex;
    align-items: center;
    justify-content: end;
}
.quit-item{
    background-color: #FFF0EB;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 2px;
    margin-bottom: 5px;
    transition: all .5s ease;
}
.quit-item:hover{
    color: #FFF0EB;
    background-color: #2D0B00;
}
