html,body{
    margin: 0;
    font-family: 'ABeeZee', sans-serif;
    height: 100%;
    --dark-sienna: #220c10ff;
--champagne: #f1e0c5ff;
--khaki-web: #c9b79cff;
--hunter-green: #2f4b26ff;
--sea-green: #3e885bff;

}

.container{
    display: grid;
    padding: 5%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    column-gap: 5px;
}

.product{
    padding:5px;
}
.product-image{
    width: 100%;
}
.product-price-description{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-button{
    background-color: #2D0B00;
    color: white;
    border: 1px white solid;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}
.product::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #868686;
    margin-top: 5px;
}


.product-managment{
    display: flex;
    gap: 5px;
    align-items: center;
}
