:root {
  --green: rgb(29, 185, 84);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  font-family: sans-serif;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
*,
html {
  margin: 0;
  padding: 0;
}

.navbar-wrapper {
  height: 100%;
  max-width: 200px;
  background-color: var(--black);
  color: var(--white);
  position: fixed;
  padding: 20px 20px 0px 15px;
}
.navbar-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px 10px 0 0px;
  margin: 0;
  list-style: none;
}

.navbar-list li:nth-child(4) {
  margin-top: 20px;
}
.navbar-list li {
  display: flex;
  align-items: center;
  padding: 10px 0;
  gap: 15px;
  cursor: pointer;
}

.navbar-img {
  max-width: 20px;
}
.navbar-img img {
  width: 100%;
}
