html{
    width: 100%;
    height: 100%;
}
body{
    margin: 0px;
    height: 100%;

}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.popup-btn{
    border: none;
    background-color: rgb(40, 187, 255);
    padding: 5px 10px;
    border-radius: 5px;
}
.btn-wrapper{
    position: relative;
}
.popup-menu{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    background-color: red;
    top:26px;
    transition: visibility 0s, opacity 0.5s linear;


}

.popup-open{
    visibility: visible;
    opacity: 1;

}